doctype html
html
    head
        title Results
        meta(charset="UTF-8")
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="javascripts/jquery.js")
        script(src="javascripts/Chart.js")
        script.
            var times = '#{times}';
            var percentile = '#{percentile}';
            var twitterid = '#{twitterid}'
        script(src="javascripts/profileCharts.js")
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbVsLYL_nF6ndA29xmQvDqkTIX6Fl5vAI&libraries=visualization")
        script(src="javascripts/result.js")
        script(src='javascripts/wordList.js')
        link(rel="shortcut icon", type="image/png", href="/images/favicon.png")
    body#bodyResults(onload= 'setupCharts(percentile, times)')
        div#profile
            img#bannerPicture
            img#profilePicture
            h1
            h3 @#{twitterid}
            br
            div#big5
                h3 Big 5 Stats
                div
        div#results
            div#times
                div#monthChart
                    img.backYear(src="/images/backArrow.png" onclick='changeDate({id:twitterid, times:times, graph:"month", direction:"back"})')
                    canvas#timesMonthChart
                    img.forwardYear(src="/images/forwardArrow.png" onclick='changeDate({id:twitterid, times:times, graph:"month", direction:"forward"})')
                div#weekChart
                    img.backYear(src="/images/backArrow.png" onclick='changeDate({id:twitterid, times:times, graph:"week", direction:"back"})')
                    canvas#timesWeekdaysChart
                    img.forwardYear(src="/images/forwardArrow.png" onclick='changeDate({id:twitterid, times:times, graph:"week", direction:"forward"})')
            div#heatmapMap
            div#wordCloud
                canvas#wordCloudCanvas